.container-bill-layout{

    width: 100%;
    height: 100%;
    background-image: url("image1.jpg");}
    .outer-layer-bill {
        /* background-color: #222222; */
        background-color: #222222;
        height: 100%;
        width: 150vh;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 10px;
        opacity: 0.8;
      }